.kalin{
    font-weight: bold;
}

.pembe{
    color: rgb(255, 50, 193);
}

.mor{
    color: rgb(141, 50, 226);
}

.mavi{
    color: rgb(4, 110, 110);
}

.turuncu{
    color: darkorange;
}

.kirmizi{
    color: darkred;
}

.sari{
    color: rgb(139, 139, 33);
}

.yesil{
    color: rgb(12, 105, 33);
}


ol li:hover{
    background-color: rgb(0, 38, 255);
}

fieldset ::first-letter{
    font-size: 111%;
    
}
fieldset ::placeholder{
    font-size: larger;
    color: rgb(9, 82, 87);
}
fieldset::selection{
    background-color: rgb(146, 201, 44);
}
input:checked + span{
    background-color: rgb(122, 233, 141);
}



input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}