.kalin{
    font-weight: bold;
}

.pembe{
    color: rgb(255, 50, 193);
}

.mor{
    color: rgb(141, 50, 226);
}

.mavi{
    color: rgb(4, 110, 110);
}

.turuncu{
    color: darkorange;
}

.kirmizi{
    color: darkred;
}

.sari{
    color: rgb(139, 139, 33);
}

.yesil{
    color: rgb(12, 105, 33);
}