h1{
    color: rgb(88, 0, 0);
}

#Giris{
    color: rgb(117, 18, 101);
}
#Kimim{
    color: darkcyan;
}
#Nedir{
    color: rgb(250, 42, 215);
}
#Ornek{
    color: rgb(44, 255, 55);
}
#Sinif{
    color: rgb(42, 139, 250);
}
#Gunluk{
    color: rgb(250, 125, 42);
}